<div class="user_modal_wrap" my-modal-position>

  <a class="modal-close-button" ng-click="$close()"><i></i></a>

  <div class="modal-body">

    <div class="user_modal_photo_profile_wrap">

      <a href="" ng-click="openPhoto(userPhoto.id, -user.id)" class="user_modal_image_wrap pull-left" ng-class="{disabled: !userPhoto.id}">
        <img
          class="user_modal_image"
          my-load-thumb
          thumb="userPhoto"
        />
      </a>

      <div class="user_modal_info_wrap clearfix">
        <h4 class="user_modal_header" ng-bind="user | userName"></h4>
        <p class="user_modal_status" ng-if="user.status" my-user-status="::user.id"></p>

        <div class="user_modal_actions_wrap clearfix">
          <button class="btn btn-primary user_modal_main_btn" ng-click="goToHistory()" my-i18n="user_modal_send_message"></button>

          <div class="dropdown user_modal_other_btn" dropdown>
            <button class="btn btn-link dropdown-toggle" dropdown-toggle>
              <my-i18n msgid="user_modal_menu_more"></my-i18n>
              <i class="icon icon-caret"></i>
            </button>
            <ul class="dropdown-menu">
              <li ng-if="user._ == 'userContact'">
                <a ng-click="importContact(true)" my-i18n="user_modal_edit_contact"></a>
              </li>
              <li ng-if="user._ == 'userContact'">
                <a ng-click="deleteContact()" my-i18n="user_modal_delete_contact"></a>
              </li>
              <li ng-if="user.phone.length > 0 &amp;&amp; user._ != 'userContact'">
                <a ng-click="importContact()" my-i18n="user_modal_add_contact"></a>
              </li>
              <li ng-if="user.phone.length > 0">
                <a ng-click="shareContact()" my-i18n="user_modal_share_contact"></a>
              </li>
              <li>
                <a ng-click="flushHistory()" my-i18n="user_modal_delete_chat"></a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <div class="modal_section" ng-if="user.phone || user.username">
      <h3 class="modal_section_header" my-i18n="user_modal_info"></h3>
      <div class="modal_section_body">

        <dl ng-if="user.phone">
          <dt><my-i18n msgid="user_modal_phone"></my-i18n>:</dt>
          <dd ng-bind="user.phone | phoneNumber"></dd>
        </dl>
        <dl ng-if="user.username">
          <dt><my-i18n msgid="user_modal_username"></my-i18n>:</dt>
          <dd ng-bind="'@' + user.username"></dd>
        </dl>

      </div>
    </div>

    <div class="modal_section">
      <h3 class="modal_section_header" my-i18n="user_modal_settings"></h3>
      <div class="modal_section_body">

        <div class="tg_form_group">
          <a class="tg_checkbox" ng-click="settings.notifications = !settings.notifications" ng-class="settings.notifications ? 'tg_checkbox_on' : ''">
            <span class="icon icon-checkbox-outer"><i class="icon-checkbox-inner"></i></span>
            <span class="tg_checkbox_label" my-i18n="user_modal_notifications"></span>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
